<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4G33Zm-MEAMNDoj400lSUt5rbyesR9Us</string>
	<key>GCM_SENDER_ID</key>
	<string>244258250345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dmrulingbot.aiteacher</string>
	<key>PROJECT_ID</key>
	<string>dm-ruling-bot</string>
	<key>STORAGE_BUCKET</key>
	<string>dm-ruling-bot.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244258250345:ios:dfb05b84c626736bb80cf8</string>
</dict>
</plist>